In [19]:
import pandas as pd
import numpy as np
import seaborn as sns
import functions as func
from scipy import stats
from scipy.stats import zscore
from scipy.stats import chi2_contingency
from scipy.stats.contingency import association
from scipy.stats import f_oneway
import scipy.stats as st
from statsmodels.stats.proportion import proportions_ztest
import matplotlib.pyplot as plt
from datetime import timedelta

In [5]:
file_path = r'C:\Users\gijsv\OneDrive\Documenten\Ironhack\week5\Project\Data\Raw\df_final_demo.txt'
df_f_dem_original = pd.read_csv(file_path)
df_f_dem = df_f_dem_original.copy()

file_path = r'C:\Users\gijsv\OneDrive\Documenten\Ironhack\week5\Project\Data\Raw\df_final_experiment_clients.txt'
df_f_ex_original = pd.read_csv(file_path)
df_f_ex = df_f_ex_original.copy()

file_path = r'C:\Users\gijsv\OneDrive\Documenten\Ironhack\week5\Project\Data\Raw\df_final_web_data_pt_1.txt'
df_f_we1_original = pd.read_csv(file_path)
df_f_we1 = df_f_we1_original.copy()
df_f_we1

file_path = r'C:\Users\gijsv\OneDrive\Documenten\Ironhack\week5\Project\Data\Raw\df_final_web_data_pt_2.txt'
df_f_we2_original = pd.read_csv(file_path)
df_f_we2 = df_f_we2_original.copy()

concatenated_df = pd.concat([df_f_we1, df_f_we2], ignore_index=True)
df_f_we = concatenated_df.sort_values(by=['client_id', 'date_time'])
df_f_we['date_time'] = pd.to_datetime(df_f_we['date_time'])

df_f_we.head(10)

,client_id,visitor_id,visit_id,process_step,date_time
285515,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36
285514,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45
285513,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31
285512,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05
285511,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09
628456,336,64757908_3400128256,649044751_80905125055_554468,start,2017-06-01 07:26:55
628331,336,64757908_3400128256,649044751_80905125055_554468,start,2017-06-01 07:42:43
442857,546,475037402_89828530214,731811517_9330176838_94847,start,2017-06-17 10:03:29
442856,546,475037402_89828530214,731811517_9330176838_94847,step_1,2017-06-17 10:03:39
442855,546,475037402_89828530214,731811517_9330176838_94847,step_2,2017-06-17 10:03:52

In [6]:
conditions = [
    df_f_we['process_step'] == 'start',
    df_f_we['process_step'] == 'step_1',
    df_f_we['process_step'] == 'step_2',
    df_f_we['process_step'] == 'step_3',
    df_f_we['process_step'] == 'confirm'
]
values = [0, 1, 2, 3, 4]

df_f_we['step_value'] = np.select(conditions, values, default=np.nan).astype(int)
df_f_we.head(10)

,client_id,visitor_id,visit_id,process_step,date_time,step_value
285515,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,0
285514,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,1
285513,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,2
285512,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,3
285511,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,4
628456,336,64757908_3400128256,649044751_80905125055_554468,start,2017-06-01 07:26:55,0
628331,336,64757908_3400128256,649044751_80905125055_554468,start,2017-06-01 07:42:43,0
442857,546,475037402_89828530214,731811517_9330176838_94847,start,2017-06-17 10:03:29,0
442856,546,475037402_89828530214,731811517_9330176838_94847,step_1,2017-06-17 10:03:39,1
442855,546,475037402_89828530214,731811517_9330176838_94847,step_2,2017-06-17 10:03:52,2

In [7]:
dem_ex_merge = pd.merge(df_f_dem, df_f_ex, on='client_id', how='inner')

In [8]:
filtered_dem_ex_merge_drop = dem_ex_merge[dem_ex_merge['Variation'] == 'Test']
client_ids = filtered_dem_ex_merge_drop['client_id'].unique()
filtered_df_f_we = df_f_we[df_f_we['client_id'].isin(client_ids)]
test_df_time = pd.merge(filtered_dem_ex_merge_drop, filtered_df_f_we, on='client_id')
test_df_time_sorted = test_df_time.sort_values(by=['client_id', 'date_time'])
test_df_time_sorted['visit_id_numbers'] = test_df_time_sorted['visit_id'].str.split('_').str[-1].astype(int)

In [9]:
client_ids_test_reached_confirmation = np.unique(test_df_time_sorted[test_df_time_sorted['process_step'] == "confirm"]['client_id'].values)
test_finish_df = test_df_time_sorted[ test_df_time_sorted['client_id'].isin(client_ids_test_reached_confirmation) ]

test_finish_df

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id,visit_id,process_step,date_time,step_value,visit_id_numbers
141353,555,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,Test,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,0,716659
141354,555,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,Test,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,1,716659
141355,555,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,Test,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,2,716659
141356,555,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,Test,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,3,716659
141357,555,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,Test,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,4,716659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171552,9999729,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,Test,834634258_21862004160,870243567_56915814033_814203,start,2017-05-08 16:08:25,0,814203
171553,9999729,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,Test,834634258_21862004160,870243567_56915814033_814203,step_1,2017-05-08 16:08:30,1,814203
171554,9999729,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,Test,834634258_21862004160,870243567_56915814033_814203,step_2,2017-05-08 16:08:40,2,814203
171555,9999729,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,Test,834634258_21862004160,870243567_56915814033_814203,step_3,2017-05-08 16:09:19,3,814203
171556,9999729,10.0,124.0,31.0,F,3.0,107059.74,6.0,9.0,Test,834634258_21862004160,870243567_56915814033_814203,confirm,2017-05-08 16:09:40,4,814203

<span style="font-size:20px;">Calculating time differences for Test group.</span>

In [67]:
# test_finish = test_finish_df[test_finish_df['process_step'] == "confirm"]
# test_start = test_finish_df[test_finish_df['process_step'] == "start"]

# test_total_times = []

# for visit_id in test_finish['visit_id_numbers'].unique():
#     finish_time = test_finish[test_finish['visit_id_numbers'] == visit_id].iloc[-1]['date_time']
    
#     start_times_before_confirm = test_start[(test_start['visit_id_numbers'] == visit_id) & (test_start['date_time'] < finish_time)]
#     if not start_times_before_confirm.empty:
#         starting_time = start_times_before_confirm.iloc[-1]['date_time']
#         test_total_time = finish_time - starting_time
#         test_total_times.append(test_total_time)

# test_total_times

[Timedelta('0 days 00:02:38'),
 Timedelta('0 days 00:06:17'),
 Timedelta('0 days 00:03:31'),
 Timedelta('0 days 00:15:54'),
 Timedelta('0 days 00:11:28'),
 Timedelta('0 days 00:03:43'),
 Timedelta('0 days 00:05:09'),
 Timedelta('0 days 00:01:51'),
 Timedelta('0 days 00:05:20'),
 Timedelta('0 days 00:04:15'),
 Timedelta('0 days 00:10:32'),
 Timedelta('0 days 00:01:17'),
 Timedelta('0 days 00:02:39'),
 Timedelta('0 days 00:03:03'),
 Timedelta('0 days 00:06:52'),
 Timedelta('0 days 00:02:05'),
 Timedelta('0 days 00:05:15'),
 Timedelta('0 days 00:01:37'),
 Timedelta('0 days 00:05:11'),
 Timedelta('0 days 00:04:57'),
 Timedelta('0 days 00:06:58'),
 Timedelta('0 days 00:02:00'),
 Timedelta('0 days 00:03:18'),
 Timedelta('0 days 00:02:18'),
 Timedelta('0 days 00:33:09'),
 Timedelta('0 days 00:03:21'),
 Timedelta('0 days 00:02:03'),
 Timedelta('0 days 00:02:27'),
 Timedelta('0 days 00:02:02'),
 Timedelta('0 days 00:03:28'),
 Timedelta('0 days 00:04:25'),
 Timedelta('0 days 00:01:39'),
 Timedelta('0 days 00:02:33'),
 Timedelta('0 days 00:24:12'),
 Timedelta('0 days 00:13:55'),
 Timedelta('0 days 00:01:58'),
 Timedelta('0 days 00:05:19'),
 Timedelta('0 days 00:03:24'),
 Timedelta('0 days 00:09:45'),
 Timedelta('0 days 00:01:59'),
 Timedelta('0 days 00:26:59'),
 Timedelta('0 days 00:04:10'),
 Timedelta('0 days 00:03:36'),
 Timedelta('0 days 00:09:28'),
 Timedelta('0 days 00:09:01'),
 Timedelta('0 days 00:01:01'),
 Timedelta('0 days 00:06:17'),
 Timedelta('0 days 00:01:53'),
 Timedelta('0 days 00:01:15'),
 Timedelta('0 days 00:06:26'),
 Timedelta('0 days 00:06:11'),
 Timedelta('0 days 00:10:41'),
 Timedelta('0 days 00:05:36'),
 Timedelta('0 days 00:04:40'),
 Timedelta('0 days 00:05:58'),
 Timedelta('0 days 00:04:22'),
 Timedelta('0 days 00:06:16'),
 Timedelta('0 days 00:00:56'),
 Timedelta('0 days 00:03:18'),
 Timedelta('0 days 00:08:13'),
 Timedelta('0 days 00:03:01'),
 Timedelta('0 days 00:03:18'),
 Timedelta('0 days 00:02:31'),
 Timedelta('0 days 00:04:03'),
 Timedelta('0 days 00:04:10'),
 Timedelta('0 days 00:01:42'),
 Timedelta('0 days 00:06:13'),
 Timedelta('0 days 00:04:33'),
 Timedelta('0 days 00:04:17'),
 Timedelta('0 days 00:22:58'),
 Timedelta('0 days 00:03:48'),
 Timedelta('0 days 00:04:27'),
 Timedelta('0 days 00:20:07'),
 Timedelta('0 days 00:02:41'),
 Timedelta('0 days 00:09:39'),
 Timedelta('0 days 00:02:03'),
 Timedelta('0 days 00:05:56'),
 Timedelta('0 days 00:01:38'),
 Timedelta('0 days 00:02:57'),
 Timedelta('0 days 00:02:01'),
 Timedelta('0 days 00:03:49'),
 Timedelta('0 days 00:03:29'),
 Timedelta('0 days 00:01:11'),
 Timedelta('0 days 00:02:32'),
 Timedelta('0 days 00:07:02'),
 Timedelta('0 days 00:11:01'),
 Timedelta('0 days 00:03:44'),
 Timedelta('0 days 00:02:25'),
 Timedelta('0 days 00:02:21'),
 Timedelta('0 days 00:05:05'),
 Timedelta('0 days 00:02:18'),
 Timedelta('0 days 00:26:18'),
 Timedelta('0 days 00:07:11'),
 Timedelta('0 days 00:19:24'),
 Timedelta('0 days 00:01:19'),
 Timedelta('0 days 00:01:37'),
 Timedelta('0 days 00:02:24'),
 Timedelta('0 days 00:06:58'),
 Timedelta('0 days 00:04:51'),
 Timedelta('0 days 00:01:59'),
 Timedelta('0 days 00:02:30'),
 Timedelta('0 days 00:07:29'),
 Timedelta('0 days 00:22:28'),
 Timedelta('0 days 00:02:02'),
 Timedelta('0 days 00:05:12'),
 Timedelta('0 days 00:03:00'),
 Timedelta('0 days 00:01:09'),
 Timedelta('0 days 00:02:17'),
 Timedelta('0 days 00:05:11'),
 Timedelta('0 days 00:02:25'),
 Timedelta('0 days 00:01:16'),
 Timedelta('0 days 00:03:45'),
 Timedelta('0 days 00:12:09'),
 Timedelta('0 days 00:19:42'),
 Timedelta('0 days 00:05:07'),
 Timedelta('0 days 00:01:57'),
 Timedelta('0 days 00:09:13'),
 Timedelta('0 days 00:04:27'),
 Timedelta('0 days 00:01:28'),
 Timedelta('0 days 00:01:56'),
 Timedelta('0 days 00:02:23'),
 Timedelta('0 days 00:02:04'),
 Timedelta('0 days 00:04:19'),
 Timedelta('0 days 00:07:42'),
 Timedelta('0 days 00:03:21'),
 Timedelta('0 days 00:02:14'),
 Timedelta('0 days 00:04:18'),
 Timedelta('0 days 00:03:50'),
 Timedelta('0 days 00:15:12'),
 Timedelta('0 days 00:01:01'),
 Timedelta('0 days 00:04:10'),
 Timedelta('0 days 00:02:22'),
 Timedelta('0 days 00:02:36'),
 Timedelta('0 days 00:02:23'),
 Timedelta('0 days 00:02:43'),
 Timedelta('0 days 00:04:07'),
 Timedelta('0 days 00:03:19'),
 Timedelta('0 days 00:05:33'),
 Timedelta('0 days 00:02:26'),
 Timedelta('0 days 00:01:56'),
 Timedelta('0 days 00:21:36'),
 Timedelta('0 days 00:02:27'),
 Timedelta('0 days 00:02:42'),
 Timedelta('0 days 00:02:14'),
 Timedelta('0 days 00:04:04'),
 Timedelta('0 days 00:03:44'),
 Timedelta('0 days 00:01:58'),
 Timedelta('0 days 00:04:08'),
 Timedelta('0 days 00:02:55'),
 Timedelta('0 days 00:01:21'),
 Timedelta('0 days 00:01:38'),
 Timedelta('0 days 00:03:02'),
 Timedelta('0 days 00:01:11'),
 Timedelta('0 days 00:07:47'),
 Timedelta('0 days 00:03:22'),
 Timedelta('0 days 00:17:50'),
 Timedelta('0 days 00:18:36'),
 Timedelta('0 days 00:05:38'),
 Timedelta('0 days 00:05:16'),
 Timedelta('0 days 00:11:57'),
 Timedelta('0 days 00:03:01'),
 Timedelta('0 days 00:22:36'),
 Timedelta('0 days 00:03:16'),
 Timedelta('0 days 00:01:42'),
 Timedelta('0 days 00:01:13'),
 Timedelta('0 days 00:02:23'),
 Timedelta('0 days 00:10:55'),
 Timedelta('0 days 00:04:16'),
 Timedelta('0 days 00:02:19'),
 Timedelta('0 days 00:04:52'),
 Timedelta('0 days 00:03:45'),
 Timedelta('0 days 00:01:54'),
 Timedelta('0 days 00:04:09'),
 Timedelta('0 days 00:02:19'),
 Timedelta('0 days 00:03:43'),
 Timedelta('0 days 00:02:06'),
 Timedelta('0 days 00:02:47'),
 Timedelta('0 days 00:05:22'),
 Timedelta('0 days 00:04:16'),
 Timedelta('0 days 00:02:49'),
 Timedelta('0 days 00:09:15'),
 Timedelta('0 days 00:02:15'),
 Timedelta('0 days 00:03:51'),
 Timedelta('0 days 00:06:45'),
 Timedelta('0 days 00:02:58'),
 Timedelta('0 days 00:02:16'),
 Timedelta('0 days 00:01:37'),
 Timedelta('0 days 00:08:07'),
 Timedelta('0 days 00:14:43'),
 Timedelta('0 days 00:04:31'),
 Timedelta('0 days 00:15:15'),
 Timedelta('0 days 00:05:08'),
 Timedelta('0 days 00:09:23'),
 Timedelta('0 days 00:02:00'),
 Timedelta('0 days 00:00:39'),
 Timedelta('0 days 01:37:26'),
 Timedelta('0 days 00:05:12'),
 Timedelta('0 days 00:02:04'),
 Timedelta('0 days 00:05:10'),
 Timedelta('0 days 00:01:40'),
 Timedelta('0 days 00:05:00'),
 Timedelta('0 days 00:01:50'),
 Timedelta('0 days 00:02:23'),
 Timedelta('0 days 00:01:54'),
 Timedelta('0 days 00:02:14'),
 Timedelta('0 days 00:02:06'),
 Timedelta('0 days 00:15:36'),
 Timedelta('0 days 00:03:36'),
 Timedelta('0 days 00:04:20'),
 Timedelta('0 days 00:26:50'),
 Timedelta('0 days 00:06:13'),
 Timedelta('0 days 00:06:47'),
 Timedelta('0 days 00:04:01'),
 Timedelta('0 days 00:03:26'),
 Timedelta('0 days 00:02:45'),
 Timedelta('0 days 00:09:11'),
 Timedelta('0 days 00:02:31'),
 Timedelta('0 days 00:03:43'),
 Timedelta('0 days 00:01:22'),
 Timedelta('0 days 00:02:32'),
 Timedelta('0 days 00:09:41'),
 Timedelta('0 days 00:02:23'),
 Timedelta('0 days 00:02:30'),
 Timedelta('0 days 00:02:49'),
 Timedelta('0 days 00:04:30'),
 Timedelta('0 days 00:08:53'),
 Timedelta('0 days 00:07:40'),
 Timedelta('0 days 00:01:30'),
 Timedelta('0 days 00:00:57'),
 Timedelta('0 days 00:07:18'),
 Timedelta('0 days 00:03:39'),
 Timedelta('0 days 00:01:43'),
 Timedelta('0 days 00:07:38'),
 Timedelta('0 days 00:07:07'),
 Timedelta('0 days 00:06:45'),
 Timedelta('0 days 00:02:05'),
 Timedelta('0 days 00:05:11'),
 Timedelta('0 days 00:09:39'),
 Timedelta('0 days 00:17:08'),
 Timedelta('0 days 00:09:51'),
 Timedelta('0 days 00:02:52'),
 Timedelta('0 days 00:10:00'),
 Timedelta('0 days 00:05:22'),
 Timedelta('0 days 00:07:27'),
 Timedelta('0 days 00:04:25'),
 Timedelta('0 days 00:04:53'),
 Timedelta('0 days 00:05:33'),
 Timedelta('0 days 00:02:36'),
 Timedelta('0 days 00:06:14'),
 Timedelta('0 days 00:05:59'),
 Timedelta('0 days 00:03:33'),
 Timedelta('0 days 00:23:39'),
 Timedelta('0 days 00:04:38'),
 Timedelta('0 days 00:10:12'),
 Timedelta('0 days 00:02:51'),
 Timedelta('0 days 00:03:56'),
 Timedelta('0 days 00:12:33'),
 Timedelta('0 days 00:06:53'),
 Timedelta('0 days 00:03:13'),
 Timedelta('0 days 00:01:12'),
 Timedelta('0 days 00:02:06'),
 Timedelta('0 days 00:02:40'),
 Timedelta('0 days 00:05:49'),
 Timedelta('0 days 00:03:10'),
 Timedelta('0 days 00:01:44'),
 Timedelta('0 days 00:02:49'),
 Timedelta('0 days 00:01:53'),
 Timedelta('0 days 00:03:30'),
 Timedelta('0 days 00:05:59'),
 Timedelta('0 days 00:09:37'),
 Timedelta('0 days 00:11:34'),
 Timedelta('0 days 00:09:31'),
 Timedelta('0 days 00:07:22'),
 Timedelta('0 days 00:09:06'),
 Timedelta('0 days 00:02:44'),
 Timedelta('0 days 00:02:48'),
 Timedelta('0 days 00:04:29'),
 Timedelta('0 days 00:02:45'),
 Timedelta('0 days 00:03:11'),
 Timedelta('0 days 00:01:56'),
 Timedelta('0 days 00:03:27'),
 Timedelta('0 days 00:04:59'),
 Timedelta('0 days 00:01:52'),
 Timedelta('0 days 00:16:56'),
 Timedelta('0 days 00:04:47'),
 Timedelta('0 days 00:15:31'),
 Timedelta('0 days 00:03:21'),
 Timedelta('0 days 00:02:41'),
 Timedelta('0 days 00:02:41'),
 Timedelta('0 days 00:01:45'),
 Timedelta('0 days 00:04:19'),
 Timedelta('0 days 00:03:56'),
 Timedelta('0 days 00:03:19'),
 Timedelta('0 days 00:02:20'),
 Timedelta('0 days 00:19:20'),
 Timedelta('0 days 00:03:22'),
 Timedelta('0 days 00:02:08'),
 Timedelta('0 days 00:04:39'),
 Timedelta('0 days 00:18:44'),
 Timedelta('0 days 00:08:39'),
 Timedelta('0 days 00:04:10'),
 Timedelta('0 days 00:02:13'),
 Timedelta('0 days 00:18:51'),
 Timedelta('0 days 00:07:02'),
 Timedelta('0 days 00:09:30'),
 Timedelta('0 days 00:02:50'),
 Timedelta('0 days 00:06:04'),
 Timedelta('0 days 00:02:12'),
 Timedelta('0 days 00:11:19'),
 Timedelta('0 days 00:04:16'),
 Timedelta('0 days 00:09:29'),
 Timedelta('0 days 00:05:12'),
 Timedelta('0 days 00:06:59'),
 Timedelta('0 days 00:11:13'),
 Timedelta('0 days 00:03:02'),
 Timedelta('0 days 00:01:51'),
 Timedelta('0 days 00:04:12'),
 Timedelta('0 days 00:02:20'),
 Timedelta('0 days 00:06:56'),
 Timedelta('0 days 00:03:42'),
 Timedelta('0 days 00:02:09'),
 Timedelta('0 days 00:12:31'),
 Timedelta('0 days 00:16:17'),
 Timedelta('0 days 00:02:03'),
 Timedelta('0 days 00:04:50'),
 Timedelta('0 days 00:03:44'),
 Timedelta('0 days 00:04:18'),
 Timedelta('0 days 00:04:57'),
 Timedelta('0 days 00:03:01'),
 Timedelta('0 days 00:02:35'),
 Timedelta('0 days 00:02:09'),
 Timedelta('0 days 00:02:27'),
 Timedelta('0 days 00:07:11'),
 Timedelta('0 days 00:27:35'),
 Timedelta('0 days 00:01:04'),
 Timedelta('0 days 00:03:26'),
 Timedelta('0 days 00:05:04'),
 Timedelta('0 days 00:02:02'),
 Timedelta('0 days 00:12:14'),
 Timedelta('0 days 00:02:14'),
 Timedelta('0 days 00:03:48'),
 Timedelta('0 days 00:02:23'),
 Timedelta('0 days 00:02:20'),
 Timedelta('0 days 00:02:46'),
 Timedelta('0 days 00:01:22'),
 Timedelta('0 days 00:06:29'),
 Timedelta('0 days 00:01:23'),
 Timedelta('0 days 00:02:02'),
 Timedelta('0 days 00:02:37'),
 Timedelta('0 days 00:02:47'),
 Timedelta('0 days 00:02:35'),
 Timedelta('0 days 00:22:22'),
 Timedelta('0 days 00:01:26'),
 Timedelta('0 days 00:15:30'),
 Timedelta('0 days 00:00:32'),
 Timedelta('0 days 00:01:29'),
 Timedelta('0 days 00:02:54'),
 Timedelta('0 days 00:10:53'),
 Timedelta('0 days 00:06:53'),
 Timedelta('0 days 00:22:59'),
 Timedelta('0 days 00:03:21'),
 Timedelta('0 days 00:20:43'),
 Timedelta('0 days 00:08:20'),
 Timedelta('0 days 00:02:29'),
 Timedelta('0 days 00:05:31'),
 Timedelta('0 days 00:03:01'),
 Timedelta('0 days 00:04:08'),
 Timedelta('0 days 00:04:38'),
 Timedelta('0 days 00:03:34'),
 Timedelta('0 days 00:02:51'),
 Timedelta('0 days 00:01:18'),
 Timedelta('0 days 00:03:44'),
 Timedelta('0 days 00:05:57'),
 Timedelta('0 days 00:03:47'),
 Timedelta('0 days 00:03:06'),
 Timedelta('0 days 00:02:51'),
 Timedelta('0 days 00:03:01'),
 Timedelta('0 days 00:16:01'),
 Timedelta('0 days 00:08:05'),
 Timedelta('0 days 00:04:05'),
 Timedelta('0 days 00:02:32'),
 Timedelta('0 days 00:04:49'),
 Timedelta('0 days 00:03:43'),
 Timedelta('0 days 00:05:27'),
 Timedelta('0 days 00:01:05'),
 Timedelta('0 days 00:01:09'),
 Timedelta('0 days 00:09:52'),
 Timedelta('0 days 00:01:38'),
 Timedelta('0 days 00:07:18'),
 Timedelta('0 days 00:03:12'),
 Timedelta('0 days 00:06:15'),
 Timedelta('0 days 00:02:43'),
 Timedelta('0 days 00:02:45'),
 Timedelta('0 days 00:06:24'),
 Timedelta('0 days 00:04:15'),
 Timedelta('0 days 00:02:51'),
 Timedelta('0 days 00:08:47'),
 Timedelta('0 days 00:01:32'),
 Timedelta('0 days 00:01:40'),
 Timedelta('0 days 00:06:04'),
 Timedelta('0 days 00:07:44'),
 Timedelta('0 days 00:03:03'),
 Timedelta('0 days 00:01:13'),
 Timedelta('0 days 00:07:51'),
 Timedelta('0 days 00:04:49'),
 Timedelta('0 days 00:04:20'),
 Timedelta('0 days 00:03:51'),
 Timedelta('0 days 00:09:46'),
 Timedelta('0 days 00:04:22'),
 Timedelta('0 days 00:02:39'),
 Timedelta('0 days 00:03:38'),
 Timedelta('0 days 00:04:18'),
 Timedelta('0 days 00:02:20'),
 Timedelta('0 days 00:01:31'),
 Timedelta('0 days 00:03:22'),
 Timedelta('0 days 00:02:48'),
 Timedelta('0 days 00:02:04'),
 Timedelta('0 days 00:04:25'),
 Timedelta('0 days 00:01:21'),
 Timedelta('0 days 00:01:01'),
 Timedelta('0 days 00:03:41'),
 Timedelta('0 days 00:01:24'),
 Timedelta('0 days 00:01:20'),
 Timedelta('0 days 00:03:22'),
 Timedelta('0 days 00:03:47'),
 Timedelta('0 days 00:02:39'),
 Timedelta('0 days 00:02:12'),
 Timedelta('0 days 00:03:13'),
 Timedelta('0 days 00:05:09'),
 Timedelta('0 days 00:02:16'),
 Timedelta('0 days 00:03:49'),
 Timedelta('0 days 00:02:34'),
 Timedelta('0 days 00:01:35'),
 Timedelta('0 days 00:01:17'),
 Timedelta('0 days 00:02:46'),
 Timedelta('0 days 00:04:42'),
 Timedelta('0 days 00:04:03'),
 Timedelta('0 days 00:02:06'),
 Timedelta('0 days 00:04:35'),
 Timedelta('0 days 00:03:45'),
 Timedelta('0 days 00:03:05'),
 Timedelta('0 days 00:03:59'),
 Timedelta('0 days 00:02:52'),
 Timedelta('0 days 00:01:23'),
 Timedelta('0 days 00:05:34'),
 Timedelta('0 days 00:02:40'),
 Timedelta('0 days 00:09:14'),
 Timedelta('0 days 00:05:21'),
 Timedelta('0 days 00:02:31'),
 Timedelta('0 days 00:02:06'),
 Timedelta('0 days 00:05:28'),
 Timedelta('0 days 00:00:52'),
 Timedelta('0 days 00:13:18'),
 Timedelta('0 days 00:01:46'),
 Timedelta('0 days 00:06:00'),
 Timedelta('0 days 00:03:38'),
 Timedelta('0 days 00:05:42'),
 Timedelta('0 days 00:01:41'),
 Timedelta('0 days 00:02:17'),
 Timedelta('0 days 00:03:17'),
 Timedelta('0 days 00:02:07'),
 Timedelta('0 days 00:02:19'),
 Timedelta('0 days 00:15:33'),
 Timedelta('0 days 00:15:07'),
 Timedelta('0 days 00:01:23'),
 Timedelta('0 days 00:06:20'),
 Timedelta('0 days 00:03:09'),
 Timedelta('0 days 00:03:48'),
 Timedelta('0 days 00:07:01'),
 Timedelta('0 days 00:02:51'),
 Timedelta('0 days 00:02:38'),
 Timedelta('0 days 00:16:51'),
 Timedelta('0 days 00:01:58'),
 Timedelta('0 days 00:04:07'),
 Timedelta('0 days 00:07:17'),
 Timedelta('0 days 00:02:05'),
 Timedelta('0 days 00:01:12'),
 Timedelta('0 days 00:00:59'),
 Timedelta('0 days 00:18:38'),
 Timedelta('0 days 00:02:51'),
 Timedelta('0 days 00:02:01'),
 Timedelta('0 days 00:02:32'),
 Timedelta('0 days 00:03:49'),
 Timedelta('0 days 00:02:30'),
 Timedelta('0 days 00:07:22'),
 Timedelta('0 days 00:07:43'),
 Timedelta('0 days 00:01:54'),
 Timedelta('0 days 00:01:25'),
 Timedelta('0 days 00:02:10'),
 Timedelta('0 days 00:02:01'),
 Timedelta('0 days 00:05:57'),
 Timedelta('0 days 00:03:37'),
 Timedelta('0 days 00:04:03'),
 Timedelta('0 days 00:02:46'),
 Timedelta('0 days 00:03:05'),
 Timedelta('0 days 00:03:42'),
 Timedelta('0 days 00:02:39'),
 Timedelta('0 days 00:02:35'),
 Timedelta('0 days 00:05:37'),
 Timedelta('0 days 00:02:46'),
 Timedelta('0 days 00:01:15'),
 Timedelta('0 days 00:04:28'),
 Timedelta('0 days 00:09:27'),
 Timedelta('0 days 00:03:30'),
 Timedelta('0 days 00:02:40'),
 Timedelta('0 days 00:05:02'),
 Timedelta('0 days 00:02:34'),
 Timedelta('0 days 00:02:26'),
 Timedelta('0 days 00:03:08'),
 Timedelta('0 days 00:02:26'),
 Timedelta('0 days 00:01:47'),
 Timedelta('0 days 00:32:48'),
 Timedelta('0 days 00:03:31'),
 Timedelta('0 days 00:01:20'),
 Timedelta('0 days 00:25:46'),
 Timedelta('0 days 00:01:26'),
 Timedelta('0 days 00:06:15'),
 Timedelta('0 days 00:02:50'),
 Timedelta('0 days 00:07:19'),
 Timedelta('0 days 00:04:03'),
 Timedelta('0 days 00:01:32'),
 Timedelta('0 days 00:03:03'),
 Timedelta('0 days 00:03:05'),
 Timedelta('0 days 00:02:55'),
 Timedelta('0 days 00:05:03'),
 Timedelta('0 days 00:03:04'),
 Timedelta('0 days 00:07:15'),
 Timedelta('0 days 00:06:02'),
 Timedelta('0 days 00:15:44'),
 Timedelta('0 days 00:03:00'),
 Timedelta('0 days 00:11:19'),
 Timedelta('0 days 00:03:33'),
 Timedelta('0 days 00:03:55'),
 Timedelta('0 days 00:01:45'),
 Timedelta('0 days 00:03:16'),
 Timedelta('0 days 00:02:23'),
 Timedelta('0 days 00:06:51'),
 Timedelta('0 days 00:03:14'),
 Timedelta('0 days 00:03:01'),
 Timedelta('0 days 00:01:26'),
 Timedelta('0 days 00:04:41'),
 Timedelta('0 days 00:02:29'),
 Timedelta('0 days 00:04:49'),
 Timedelta('0 days 00:26:30'),
 Timedelta('0 days 00:02:35'),
 Timedelta('0 days 00:10:17'),
 Timedelta('0 days 00:02:08'),
 Timedelta('0 days 00:09:53'),
 Timedelta('0 days 00:05:07'),
 Timedelta('0 days 00:05:32'),
 Timedelta('0 days 00:02:25'),
 Timedelta('0 days 00:18:49'),
 Timedelta('0 days 00:01:32'),
 Timedelta('0 days 00:01:52'),
 Timedelta('0 days 00:06:50'),
 Timedelta('0 days 00:03:25'),
 Timedelta('0 days 00:10:32'),
 Timedelta('0 days 00:05:50'),
 Timedelta('0 days 00:05:29'),
 Timedelta('0 days 00:04:16'),
 Timedelta('0 days 01:17:55'),
 Timedelta('0 days 00:02:00'),
 Timedelta('0 days 00:08:10'),
 Timedelta('0 days 00:06:42'),
 Timedelta('0 days 00:03:07'),
 Timedelta('0 days 00:01:08'),
 Timedelta('0 days 00:03:22'),
 Timedelta('0 days 00:05:30'),
 Timedelta('0 days 00:01:18'),
 Timedelta('0 days 00:02:42'),
 Timedelta('0 days 00:02:23'),
 Timedelta('0 days 00:05:35'),
 Timedelta('0 days 00:04:28'),
 Timedelta('0 days 00:03:37'),
 Timedelta('0 days 00:07:31'),
 Timedelta('0 days 00:02:29'),
 Timedelta('0 days 00:02:17'),
 Timedelta('0 days 00:03:04'),
 Timedelta('0 days 00:02:08'),
 Timedelta('0 days 00:02:51'),
 Timedelta('0 days 00:04:38'),
 Timedelta('0 days 00:01:59'),
 Timedelta('0 days 00:46:24'),
 Timedelta('0 days 00:01:24'),
 Timedelta('0 days 00:07:37'),
 Timedelta('0 days 00:05:12'),
 Timedelta('0 days 00:03:50'),
 Timedelta('0 days 00:01:46'),
 Timedelta('0 days 00:09:12'),
 Timedelta('0 days 00:11:33'),
 Timedelta('0 days 00:02:16'),
 Timedelta('0 days 00:01:20'),
 Timedelta('0 days 00:01:48'),
 Timedelta('0 days 00:01:44'),
 Timedelta('0 days 00:05:00'),
 Timedelta('0 days 00:03:23'),
 Timedelta('0 days 00:06:33'),
 Timedelta('0 days 00:11:06'),
 Timedelta('0 days 00:02:30'),
 Timedelta('0 days 00:02:41'),
 Timedelta('0 days 00:04:12'),
 Timedelta('0 days 00:03:19'),
 Timedelta('0 days 00:01:34'),
 Timedelta('0 days 00:03:16'),
 Timedelta('0 days 00:01:35'),
 Timedelta('0 days 00:01:22'),
 Timedelta('0 days 00:01:19'),
 Timedelta('0 days 00:03:26'),
 Timedelta('0 days 00:05:14'),
 Timedelta('0 days 00:15:29'),
 Timedelta('0 days 00:01:32'),
 Timedelta('0 days 00:03:22'),
 Timedelta('0 days 00:03:02'),
 Timedelta('0 days 00:10:14'),
 Timedelta('0 days 00:02:27'),
 Timedelta('0 days 00:07:01'),
 Timedelta('0 days 00:02:04'),
 Timedelta('0 days 00:19:44'),
 Timedelta('0 days 00:02:48'),
 Timedelta('0 days 00:02:54'),
 Timedelta('0 days 00:02:00'),
 Timedelta('0 days 00:01:50'),
 Timedelta('0 days 00:07:06'),
 Timedelta('0 days 00:01:39'),
 Timedelta('0 days 00:05:42'),
 Timedelta('0 days 00:04:00'),
 Timedelta('0 days 00:04:41'),
 Timedelta('0 days 00:03:55'),
 Timedelta('0 days 00:03:05'),
 Timedelta('0 days 00:03:13'),
 Timedelta('0 days 00:02:59'),
 Timedelta('0 days 00:05:44'),
 Timedelta('0 days 00:02:26'),
 Timedelta('0 days 00:06:03'),
 Timedelta('0 days 00:06:03'),
 Timedelta('0 days 00:03:31'),
 Timedelta('0 days 00:02:46'),
 Timedelta('0 days 00:02:43'),
 Timedelta('0 days 00:02:34'),
 Timedelta('0 days 00:04:00'),
 Timedelta('0 days 00:00:55'),
 Timedelta('0 days 00:02:43'),
 Timedelta('0 days 00:01:35'),
 Timedelta('0 days 00:06:40'),
 Timedelta('0 days 00:03:19'),

In [20]:
# def calculate_total_times(df):
#     finish_df = df[df['process_step'] == "confirm"]
#     start_df = df[df['process_step'] == "start"]

#     total_times = []

#     for visit_id in finish_df['visit_id_numbers'].unique():
#         finish_time = finish_df[(finish_df['visit_id_numbers'] == visit_id)].iloc[-1]['date_time']

#         start_times_before_confirm = start_df[(start_df['visit_id_numbers'] == visit_id) & (start_df['date_time'] < finish_time)]
#         if not start_times_before_confirm.empty:
#             starting_time = start_times_before_confirm.iloc[-1]['date_time']
#             total_time = finish_time - starting_time
#             total_times.append(total_time)

#     return total_times

test_total_times = func.calculate_total_times(test_finish_df)

In [21]:
total_time_seconds = sum(test_total_times, timedelta()) 
average_time = total_time_seconds / len(test_total_times)
average_time_seconds = average_time.total_seconds() 

print("Average time:", average_time_seconds, "seconds")

Average time: 323.647657 seconds

In [69]:
time_differences = [
    (group.iloc[i + 1]['date_time'] - group.iloc[i]['date_time']).total_seconds()
    for client_id, group in test_finish_df.groupby('visit_id_numbers')
    for i in range(len(group) - 1)
    if group.iloc[i]['step_value'] == 0 and group.iloc[i + 1]['step_value'] == 1
]

test_avg_time_diff_step1 = np.mean(time_differences)
test_avg_time_diff_step1

30.57463960922918

In [31]:
test_step_1_time_diff = func.calculate_time_differences_step(test_finish_df, 0, 1)

AttributeError: module 'functions' has no attribute 'calculate_time_differences_step'

In [29]:
test_avg_time_diff_step1 = np.mean(test_step_1_time_diff)
test_avg_time_diff_step1

30.57463960922918

In [70]:
time_differences = []
for client_id, group in test_finish_df.groupby('visit_id_numbers'):
    for i in range(len(group) - 1):
        if group.iloc[i]['step_value'] == 1 and group.iloc[i + 1]['step_value'] == 2:
            time_diff = group.iloc[i + 1]['date_time'] - group.iloc[i]['date_time']
            time_differences.append(time_diff.total_seconds())

test_avg_time_diff_step2 = np.mean(time_differences)
test_avg_time_diff_step2

36.361507989495706

In [71]:
time_differences = []
for client_id, group in test_finish_df.groupby('visit_id_numbers'):
    for i in range(len(group) - 1):
        if group.iloc[i]['step_value'] == 2 and group.iloc[i + 1]['step_value'] == 3:
            time_diff = group.iloc[i + 1]['date_time'] - group.iloc[i]['date_time']
            time_differences.append(time_diff.total_seconds())

test_avg_time_diff_step3 = np.mean(time_differences)
test_avg_time_diff_step3

86.60626831804859

In [72]:
time_differences = []
for client_id, group in test_finish_df.groupby('visit_id_numbers'):
    for i in range(len(group) - 1):
        if group.iloc[i]['step_value'] == 3 and group.iloc[i + 1]['step_value'] == 4:
            time_diff = group.iloc[i + 1]['date_time'] - group.iloc[i]['date_time']
            time_differences.append(time_diff.total_seconds())

test_avg_time_diff_step4 = np.mean(time_differences)
test_avg_time_diff_step4

104.83331518187758

In [22]:
filtered_dem_ex_merge_drop = dem_ex_merge[dem_ex_merge['Variation'] == 'Control']
client_ids = filtered_dem_ex_merge_drop['client_id'].unique()
filtered_df_f_we = df_f_we[df_f_we['client_id'].isin(client_ids)]
control_df_time = pd.merge(filtered_dem_ex_merge_drop, filtered_df_f_we, on='client_id')
control_df_time_sorted = control_df_time.sort_values(by=['client_id', 'date_time'])
control_df_time_sorted['visit_id_numbers'] = control_df_time_sorted['visit_id'].str.split('_').str[-1].astype(int)

In [23]:
client_ids_control_reached_confirmation = np.unique(control_df_time_sorted[control_df_time_sorted['process_step'] == "confirm"]['client_id'].values)
control_finish_df = control_df_time_sorted[ control_df_time_sorted['client_id'].isin(client_ids_control_reached_confirmation) ]
control_finish_df

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id,visit_id,process_step,date_time,step_value,visit_id_numbers
127373,1195,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,Control,766842522_69992551638,393817425_39015278493_996341,start,2017-04-05 20:15:26,0,996341
127374,1195,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,Control,766842522_69992551638,393817425_39015278493_996341,step_1,2017-04-05 20:15:59,1,996341
127375,1195,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,Control,766842522_69992551638,393817425_39015278493_996341,step_2,2017-04-05 20:17:37,2,996341
127376,1195,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,Control,766842522_69992551638,393817425_39015278493_996341,step_3,2017-04-05 20:18:08,3,996341
127377,1195,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,Control,766842522_69992551638,393817425_39015278493_996341,confirm,2017-04-05 20:19:31,4,996341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62790,9998346,50.0,602.0,61.5,F,2.0,149881.38,6.0,9.0,Control,292425655_16607136645,189177304_69869411700_783154,step_2,2017-03-29 15:30:11,2,783154
62791,9998346,50.0,602.0,61.5,F,2.0,149881.38,6.0,9.0,Control,292425655_16607136645,189177304_69869411700_783154,step_3,2017-03-29 15:30:25,3,783154
62792,9998346,50.0,602.0,61.5,F,2.0,149881.38,6.0,9.0,Control,292425655_16607136645,189177304_69869411700_783154,step_3,2017-03-29 15:37:28,3,783154
62793,9998346,50.0,602.0,61.5,F,2.0,149881.38,6.0,9.0,Control,292425655_16607136645,189177304_69869411700_783154,confirm,2017-03-29 15:37:28,4,783154
62794,9998346,50.0,602.0,61.5,F,2.0,149881.38,6.0,9.0,Control,292425655_16607136645,189177304_69869411700_783154,step_3,2017-03-29 15:37:28,3,783154

<span style="font-size:20px;">Calculating time differences for Control group.</span>

In [27]:
# control_finish = control_finish_df[control_finish_df['process_step'] == "confirm"]
# control_start = control_finish_df[control_finish_df['process_step'] == "start"]

# control_total_times = []

# for visit_id in control_finish['visit_id_numbers'].unique():
#     finish_time = control_finish[(control_finish['visit_id_numbers'] == visit_id)].iloc[-1]['date_time']
    
#     start_times_before_confirm = control_start[(control_start['visit_id_numbers'] == visit_id) & (control_start['date_time'] < finish_time)]
#     if not start_times_before_confirm.empty:
#         starting_time = start_times_before_confirm.iloc[-1]['date_time']
#         control_total_time = finish_time - starting_time
#         control_total_times.append(control_total_time)

# control_total_times

In [25]:
control_total_times = func.calculate_total_times(control_finish_df)

In [26]:
total_time_seconds = sum(control_total_times, timedelta()) 
average_time = total_time_seconds / len(control_total_times)
average_time_seconds = average_time.total_seconds() 

print("Average time:", average_time_seconds, "seconds")

Average time: 333.058985 seconds

In [63]:
time_differences = []

for client_id, group in control_finish_df.groupby('visit_id_numbers'):
    for i in range(len(group) - 1):
        if group.iloc[i]['step_value'] == 0 and group.iloc[i + 1]['step_value'] == 1:
            time_diff = group.iloc[i + 1]['date_time'] - group.iloc[i]['date_time']
            time_differences.append(time_diff.total_seconds())

control_avg_time_diff_step1 = np.mean(time_differences)
control_avg_time_diff_step1

36.79552359732631

In [64]:
time_differences = []

for client_id, group in control_finish_df.groupby('visit_id_numbers'):
    for i in range(len(group) - 1):
        if group.iloc[i]['step_value'] == 1 and group.iloc[i + 1]['step_value'] == 2:
            time_diff = group.iloc[i + 1]['date_time'] - group.iloc[i]['date_time']
            time_differences.append(time_diff.total_seconds())

control_avg_time_diff_step2 = np.mean(time_differences)
control_avg_time_diff_step2

32.939302389453445

In [65]:
time_differences = []

for client_id, group in control_finish_df.groupby('visit_id_numbers'):
    for i in range(len(group) - 1):
        if group.iloc[i]['step_value'] == 2 and group.iloc[i + 1]['step_value'] == 3:
            time_diff = group.iloc[i + 1]['date_time'] - group.iloc[i]['date_time']
            time_differences.append(time_diff.total_seconds())

control_avg_time_diff_step3 = np.mean(time_differences)
control_avg_time_diff_step3

86.19777516311905

In [66]:
time_differences = []

for client_id, group in control_finish_df.groupby('visit_id_numbers'):
    for i in range(len(group) - 1):
        if group.iloc[i]['step_value'] == 3 and group.iloc[i + 1]['step_value'] == 4:
            time_diff = group.iloc[i + 1]['date_time'] - group.iloc[i]['date_time']
            time_differences.append(time_diff.total_seconds())

control_avg_time_diff_step4 = np.mean(time_differences)
control_avg_time_diff_step4

127.14917560847945

<span style="font-size:20px;">Checking for error rate in Test group.</span>

In [77]:
def check_next_step(group):
    return (group['step_value'].shift(-1) < group['step_value']).any()

error_client_ids_test = test_df_time_sorted.groupby('visit_id_numbers').apply(check_next_step)
error_client_ids_test = error_client_ids_test[error_client_ids_test == True].index.tolist() 

print("Client IDs where the next step is lower than the current step:")
print(len(error_client_ids_test))

Client IDs where the next step is lower than the current step:
10012

<span style="font-size:20px;">Checking for error rate in Control group.</span>

In [78]:
def check_next_step(group):
    return (group['step_value'].shift(-1) < group['step_value']).any()

error_client_ids_control = control_df_time_sorted.groupby('visit_id_numbers').apply(check_next_step)
error_client_ids_control = error_client_ids_control[error_client_ids_control == True].index.tolist() 

print("Client IDs where the next step is lower than the current step:")
print(len(error_client_ids_control))

Client IDs where the next step is lower than the current step:
6581

In [79]:
grouped_df = df_f_we.groupby('client_id')['process_step'].size()
grouped_df

client_id
169         5
336         2
546         5
555         5
647         5
           ..
9999729    11
9999768    12
9999832     2
9999839     6
9999875     6
Name: process_step, Length: 120157, dtype: int64

In [80]:
step_ranking = {'start': 1, 'step_1': 2, 'step_2': 3, 'step_3': 4, 'confirm': 5}

df_f_we_process = df_f_we.copy()

df_f_we_process['step_rank'] = df_f_we_process['process_step'].map(step_ranking)
max_step_reached = df_f_we_process.groupby('client_id')['step_rank'].max()
max_step_reached

client_id
169        5
336        1
546        5
555        5
647        5
          ..
9999729    5
9999768    5
9999832    2
9999839    5
9999875    5
Name: step_rank, Length: 120157, dtype: int64

In [81]:
max_step_reached.value_counts().sort_index()

step_rank
1    14490
2     7858
3     6059
4    10605
5    81145
Name: count, dtype: int64

In [82]:
duplicates = df_f_dem.duplicated(subset=['client_id'], keep=False).value_counts()
duplicates

False    70609
Name: count, dtype: int64

In [83]:
duplicates = df_f_ex.duplicated(subset=['client_id'], keep=False).value_counts()
duplicates

False    70609
Name: count, dtype: int64

In [84]:
dem_ex_merge['Variation'].unique()

array(['Test', 'Control', nan], dtype=object)

In [85]:
nan_count = dem_ex_merge['Variation'].isna().sum()
nan_count

20109

In [86]:
dem_ex_merge_drop = dem_ex_merge.dropna(subset=['Variation'])
dem_ex_merge_drop

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0,Control
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0,Test
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0,Test
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0,Control
...,...,...,...,...,...,...,...,...,...,...
50495,1780858,21.0,262.0,68.5,M,3.0,372100.59,6.0,9.0,Test
50496,6967120,21.0,260.0,68.5,M,3.0,4279873.38,6.0,9.0,Control
50497,5826160,20.0,249.0,56.5,F,2.0,44837.16,2.0,5.0,Test
50498,8739285,19.0,229.0,69.5,F,2.0,44994.24,1.0,4.0,Test
50499,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test

In [87]:
merged_full_df = pd.merge(dem_ex_merge_drop, df_f_we, on='client_id', how='inner')
merged_full_df

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,visitor_id,visit_id,process_step,date_time,step_value
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,104438405_2368283624_817211,start,2017-03-29 10:58:35,0
1,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,104438405_2368283624_817211,start,2017-03-29 10:59:43,0
2,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,104438405_2368283624_817211,start,2017-03-29 11:01:40,0
3,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,104438405_2368283624_817211,start,2017-03-29 11:02:44,0
4,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,start,2017-04-02 11:21:28,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321304,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,start,2017-03-30 23:58:40,0
321305,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,step_1,2017-03-30 23:58:51,1
321306,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,step_2,2017-03-30 23:59:15,2
321307,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,step_3,2017-03-30 23:59:33,3
321308,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,start,2017-03-31 00:16:12,0

In [88]:
merged_full_df['client_id'].nunique()

50500

In [114]:
new_age_bins = [0, 30, 50, 70, 90, float('inf')]
new_age_labels = ['0-29', '30-49', '50-69', '70-89', '90+']
dem_ex_merge_age_grouped = dem_ex_merge_drop.copy()
dem_ex_merge_age_grouped.dropna(subset=['clnt_age'], inplace=True)
dem_ex_merge_age_grouped['age_group'] = pd.cut(dem_ex_merge_age_grouped['clnt_age'], bins=new_age_bins, labels=new_age_labels, right=False)

age_group_counts = dem_ex_merge_age_grouped['age_group'].value_counts().sort_index()
print(age_group_counts)

age_group
0-29      8531
30-49    18340
50-69    20185
70-89     3388
90+         43
Name: count, dtype: int64

In [115]:
dem_ex_merge_age_grouped

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,age_group
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,50-69
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0,Control,50-69
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0,Test,30-49
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0,Test,30-49
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0,Control,30-49
...,...,...,...,...,...,...,...,...,...,...,...
50495,1780858,21.0,262.0,68.5,M,3.0,372100.59,6.0,9.0,Test,50-69
50496,6967120,21.0,260.0,68.5,M,3.0,4279873.38,6.0,9.0,Control,50-69
50497,5826160,20.0,249.0,56.5,F,2.0,44837.16,2.0,5.0,Test,50-69
50498,8739285,19.0,229.0,69.5,F,2.0,44994.24,1.0,4.0,Test,50-69
50499,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test,50-69

## Hypothesis Testing: Analysis of Variations in average age between Test and Control Groups

**H0:** The average age of clients engaging with the new process is not significantly greater than or equal to the average age of those engaging with the old process.

**H1:** The average age of clients engaging with the new process is significantly greater than the average age of those engaging with the old process.

In [135]:
age_test = dem_ex_merge_age_grouped[dem_ex_merge_age_grouped['Variation'] == 'Test']['clnt_age']
age_control = dem_ex_merge_age_grouped[dem_ex_merge_age_grouped['Variation'] == 'Control']['clnt_age']


t_statistic, p_value = ttest_ind(age_test, age_control, alternative='greater')

alpha = 0.05

print("One-Sided T-Test Results:")
print(f"T-statistic: {t_statistic:.4f}")
print(f"P-value: {p_value:.4f}")

if p_value < alpha:
    print("Reject the null hypothesis: The average age of clients engaging with the new process is significantly greater than those engaging with the old process.")
else:
    print("Fail to reject the null hypothesis: There is not enough evidence to suggest that the average age of clients engaging with the new process is significantly greater than those engaging with the old process.")

One-Sided T-Test Results:
T-statistic: -2.4161
P-value: 0.9922
Fail to reject the null hypothesis: There is not enough evidence to suggest that the average age of clients engaging with the new process is significantly greater than those engaging with the old process.

## Hypothesis Testing: Analysis of Variations in Tenure between Test and Control Groups

**H0:** The average tenure of clients engaging with the new process is not significantly greater than or equal to the average age of those engaging with the old process.

**H1:** The average tenure of clients engaging with the new process is significantly greater than or equal to the average age of those engaging with the old process.

In [137]:
tenure_test = dem_ex_merge_age_grouped[dem_ex_merge_age_grouped['Variation'] == 'Test']['clnt_tenure_mnth']
tenure_control = dem_ex_merge_age_grouped[dem_ex_merge_age_grouped['Variation'] == 'Control']['clnt_tenure_mnth']


t_statistic, p_value = ttest_ind(tenure_test, tenure_control, alternative='greater')

alpha = 0.05

print("One-Sided T-Test Results:")
print(f"T-statistic: {t_statistic:.4f}")
print(f"P-value: {p_value:.4f}")

if p_value < alpha:
    print("Reject the null hypothesis: The average tenure of clients engaging with the new process is significantly greater than those engaging with the old process.")
else:
    print("Fail to reject the null hypothesis: There is not enough evidence to suggest that the average tenure of clients engaging with the new process is significantly greater than those engaging with the old process.")

One-Sided T-Test Results:
T-statistic: -1.6540
P-value: 0.9509
Fail to reject the null hypothesis: There is not enough evidence to suggest that the average tenure of clients engaging with the new process is significantly greater than those engaging with the old process.

## Hypothesis Testing: Analysis of Variations in Gender between Test and Control Groups

**H0:** The amount of males engaging with the new process is not significantly greater than or equal to the average age of those engaging with the old process.

**H1:** The amount of males engaging with the new process is not significantly greater than or equal to the average age of those engaging with the old process.

In [143]:
gender_df = dem_ex_merge_drop[dem_ex_merge_drop['gendr'].isin(['F', 'M'])].copy()

gender_df['gendr'].unique()

array(['M', 'F'], dtype=object)

In [146]:
gender_test = gender_df[gender_df['Variation'] == 'Test']['gendr']
gendr_control = gender_df[gender_df['Variation'] == 'Control']['gendr']


contingency_table = pd.crosstab(gender_df['Variation'], gender_df['gendr'])
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

alpha = 0.05

print("Chi-Square Test Results:")
print(f"Chi-square statistic: {chi2:.4f}")
print(f"P-value: {p_value:.4f}")

if p_value < alpha:
    print("Reject the null hypothesis: There is a significant association between gender and group.")
else:
    print("Fail to reject the null hypothesis: There is no significant association between gender and group.")

Chi-Square Test Results:
Chi-square statistic: 1.3238
P-value: 0.2499
Fail to reject the null hypothesis: There is no significant association between gender and group.

In [116]:
age_counts_per_test = dem_ex_merge_age_grouped.groupby('age_group')['Variation'].value_counts()

age_counts_per_test_df = age_counts_per_test.reset_index(name='count')

print(age_counts_per_test_df)

  age_group Variation  count
0      0-29      Test   4596
1      0-29   Control   3935
2     30-49      Test   9898
3     30-49   Control   8442
4     50-69      Test  10672
5     50-69   Control   9513
6     70-89      Test   1770
7     70-89   Control   1618
8       90+      Test     25
9       90+   Control     18

In [47]:
dem_ex_merge_drop['clnt_age'].describe()

count    50487.000000
mean        47.319795
std         15.518616
min         17.000000
25%         33.500000
50%         48.000000
75%         59.500000
max         96.000000
Name: clnt_age, dtype: float64

In [48]:
dem_ex_merge_drop['gendr'].value_counts()

gendr
U    17280
M    16947
F    16259
X        2
Name: count, dtype: int64

In [49]:
tenure_bins = [0, 5, 10, 15, 20, 25, float('inf')]
tenure_labels = ['0-5', '6-10', '11-15', '16-20', '21-25', '26+']
dem_ex_merge_tenure_grouped = dem_ex_merge_drop.copy()

dem_ex_merge_tenure_grouped.loc[:, 'tenure_group'] = pd.cut(dem_ex_merge_tenure_grouped['clnt_tenure_yr'], bins=tenure_bins, labels=tenure_labels, right=False)
tenure_group_counts = dem_ex_merge_tenure_grouped['tenure_group'].value_counts()
tenure_group_counts = tenure_group_counts.sort_index()

print(tenure_group_counts)

tenure_group
0-5       3779
6-10     18869
11-15    11888
16-20     7875
21-25     5260
26+       2817
Name: count, dtype: int64

In [50]:
dem_ex_merge_drop['clnt_tenure_yr'].describe()

count    50488.000000
mean        12.031730
std          6.860282
min          2.000000
25%          6.000000
50%         11.000000
75%         16.000000
max         55.000000
Name: clnt_tenure_yr, dtype: float64

In [51]:
balance_bins = [0, 10000, 50000, 100000, 500000, 1000000, float('inf')]
balance_labels = ['0-10k', '10k-50k', '50k-100k', '100k-500k', '500k-1M', '1M+']

dem_ex_merge_balance_grouped = dem_ex_merge_drop.copy()

dem_ex_merge_balance_grouped.loc[:, 'balance_group'] = pd.cut(dem_ex_merge_balance_grouped['bal'], bins=balance_bins, labels=balance_labels, right=False)

balance_group_counts = dem_ex_merge_balance_grouped['balance_group'].value_counts()
balance_group_counts = balance_group_counts.sort_index()

print(balance_group_counts)

balance_group
0-10k            0
10k-50k      18545
50k-100k     14464
100k-500k    14764
500k-1M       1887
1M+            828
Name: count, dtype: int64

In [52]:
dem_ex_merge_drop['Variation'].value_counts()

Variation
Test       26968
Control    23532
Name: count, dtype: int64

In [53]:
common_values = dem_ex_merge_age_grouped['client_id'].isin(max_step_reached.index).value_counts()

print("Common values:", common_values)

Common values: client_id
True    50500
Name: count, dtype: int64

Looking at the age categories and untill which step they came.

In [54]:
series_process_df = max_step_reached.to_frame(name='step_reached').reset_index()
step_reached_df = pd.merge(dem_ex_merge_age_grouped, series_process_df, on='client_id')
step_reached_df

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,age_group,step_reached
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test,56-65,5
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0,Control,56-65,5
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0,Test,26-35,4
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0,Test,46-55,1
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0,Control,26-35,1
...,...,...,...,...,...,...,...,...,...,...,...,...
50495,1780858,21.0,262.0,68.5,M,3.0,372100.59,6.0,9.0,Test,66-75,5
50496,6967120,21.0,260.0,68.5,M,3.0,4279873.38,6.0,9.0,Control,66-75,5
50497,5826160,20.0,249.0,56.5,F,2.0,44837.16,2.0,5.0,Test,56-65,5
50498,8739285,19.0,229.0,69.5,F,2.0,44994.24,1.0,4.0,Test,66-75,5
50499,7468138,18.0,222.0,61.0,F,3.0,209278.15,0.0,3.0,Test,56-65,4

In [55]:
step5_counts_finish = step_reached_df[step_reached_df['step_reached'] == 5]['Variation'].value_counts()
step5_counts_finish

Variation
Test       18687
Control    15434
Name: count, dtype: int64

## Statistical Analysis of Completion Rate and Cost-Effectiveness Threshold

**H0:** There is no difference in completion rates between the Test and Control groups.

**H1:** There is a difference in completion rates between the Test and Control groups.

In [123]:
total_test = step_reached_df[step_reached_df['Variation'] == 'Test'].shape[0]
total_control = step_reached_df[step_reached_df['Variation'] == 'Control'].shape[0]

total_finished_test = step_reached_df[(step_reached_df['step_reached'] == 5) & (step_reached_df['Variation'] == 'Test')].shape[0]
total_finished_control = step_reached_df[(step_reached_df['step_reached'] == 5) & (step_reached_df['Variation'] == 'Control')].shape[0]

stat, p_value = proportions_ztest([total_finished_test, total_finished_control],
                                   [total_test, total_control])
alpha = 0.05

print(f"Z-score: {stat:.4f}")
print(f"P-value: {p_value:.4f}")

if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference in completion rates between Test and Control groups.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference in completion rates between Test and Control groups.")

Z-score: 8.8745
P-value: 0.0000
Reject the null hypothesis: There is a significant difference in completion rates between Test and Control groups.

In [56]:
step5_clients_df = step_reached_df[step_reached_df['step_reached'] == 5]
step5_counts = step5_clients_df['Variation'].value_counts()
total_clients = step_reached_df['Variation'].value_counts()
step5_percentage = (step5_counts / total_clients) * 100

print("Percentage of clients who reached step 5:")
print(step5_percentage)

Percentage of clients who reached step 5:
Variation
Test       69.293236
Control    65.587285
Name: count, dtype: float64

In [57]:
percentage_diff = round(((step5_percentage.iloc[0] - step5_percentage.iloc[1]) / step5_percentage.iloc[1]) * 100 , 2)
print("Percentage difference between test and control:")
print(percentage_diff, '%')

Percentage difference between test and control:
5.65 %

In [58]:
step_age_mean = step_reached_df.groupby('age_group')['step_reached'].mean()
step_age_mean

age_group
0-25     4.224948
26-35    4.168898
36-45    4.156122
46-55    4.157458
56-65    4.185874
66-75    4.026778
76-85    3.827170
86-95    3.902703
95+      3.333333
Name: step_reached, dtype: float64

In [59]:
correlation = step_reached_df['clnt_age'].corr(step_reached_df['step_reached'])
correlation

-0.023714024200720787